<main>
    <header class="bluebackground"><p class="title">PRIMARY MRL BODY OF <br> KNOWLEDGE REFERENCES</p>  </header>
    
    <body>
        <div>
        <mat-list class="list">
            <mat-list-item>
                <h2>NEW 2022 Manufacturing Readiness Level Documents [Effective 1 October 2022]</h2>
            </mat-list-item>
            <mat-list-item role="listitem" class="listItem">
                <a href={{title.url}} target="_blank">{{title.name}}</a>
             </mat-list-item>
            <mat-list-item role="listitem" class="listItem">
                <a href="../../../assets/MRL_Deskbook_2022__20221001_Final.pdf" target="_blank">Final Version of 2022 MRL Deskbook (Oct. 1)</a>
             </mat-list-item>
            <mat-list-item role="listitem" class="listItem">
                <a href="../../../assets/Interactive_MRL_Users_Guide_2022_Version.xlsm" >Interactive MRL Users Guide 2022 Version</a>
             </mat-list-item>
            <mat-list-item role="listitem" class="listItem">
                <a href="../../../assets/Interactive_MRL_Users_Guide_2022_Version.zip" >ZIPPED Version of the Interactive MRL Users Guide 2022 Version</a>
             </mat-list-item>
            <mat-list-item role="listitem" class="listItem">
                <a href="../../../assets/MRL_Matrix_V2022.xlsx" >MRL Criteria Matrix version 2022 [Excel]</a>
            </mat-list-item>
            <mat-list-item role="listitem" class="listItem">
                <a href="../../../assets/MRL_Matrix_V2022_Old.xls" >MRL Criteria Matrix version 2022 [Excel old format]</a>
            </mat-list-item>
            <mat-list-item role="listitem" class="listItem">
                <a href="../../../assets/MRL_Matrix_V2022.zip">MRL Criteria Matrix version 2022 [Zip-file]</a>
            </mat-list-item>
        </mat-list>
        <mat-list>
            <mat-list-item >
               <h2>2020 versions of MRL Documents</h2> 
            </mat-list-item>
            <mat-list-item class="listItem">
                <a href="../../../assets/MRL Deskbook V2020.pdf" target="_blank">MRL Deskbook 2020 [PDF]</a> 
            </mat-list-item>
            <mat-list-item class="listItem">
                <a href="../../../assets/Interactive_MRL_Users_Guide_2020_Version.xlsm" >Interactive MRL Users Guide 2020 Version</a>
            </mat-list-item>
            <mat-list-item class="listItem">
                <a href="../../../assets/Interactive_MRL_Users_Guide_2020_Version.zip" >ZIPPED Version of the Interactive MRL Users Guide 2020 Version</a>
            </mat-list-item>
            <mat-list-item class="listItem">
                <a href="../../../assets/MRL Matrix V2020.xlsx" >MRL Criteria Matrix version 2020 [excel]</a> 
            </mat-list-item>
            <mat-list-item class="listItem">
                <a href="../../../assets/Legal_Print Criteria Matrix version 2020.pdf" target="_blank" >Legal-Print Criteria Matrix Version 2020 [PDF]</a>  
            </mat-list-item>

        </mat-list>
            <mat-list>
                <mat-list-item>
                    <a href="../../../assets/MRL_Deskbook_2018.pdf" target="_blank">MRL Deskbook 2018 (December, 2018) [PDF]</a>
                </mat-list-item>
                <mat-list-item>
                    <a href="../../../assets/Users_Guide_2018_Version1.xlsm">Interactive MRL Users Guide 2018 Version</a>
                </mat-list-item>
                <mat-list-item>
                    <a href="../../../assets/MRL_Matrix_V2018.xlsx">MRL Criteria Matrix version 2018 [excel]</a>
                </mat-list-item>
                <mat-list-item>
                    <a href="../../../assets/MRL Matrix v2018 legal.pdf">AFIT Legal-Print Criteria Matrix version 2018 [PDF]</a>
                </mat-list-item>
            </mat-list>
        
        <button type="button"><a href="/prior" routerlinkActive="active">Prior versions of MRL Deskbook, Users Guide, and Matrix</a></button>
        <h1>Government and Industry Contact</h1> 
        <mat-list>
            <mat-list-item>
                <a href="../../../assets/Ask_a_Government_Expert_2023.pdf" target="_blank">Contact List for Ask-An-Expert on MRLs from Government</a>
            </mat-list-item>
            <mat-list-item>
                <a href="../../../assets/MRL Industry Points of Contact June 2023.pdf">Contact List for Industry MRL Leadership</a>
            </mat-list-item>
        </mat-list>
    </div>
</body>
</main>

   


