<main>
<header>
  <mat-toolbar class="bar">
    <div class="image"><img src="assets\Dod.jpg"></div>
    
    <span class="example-spacer">Manufacturing Readiness Levels</span>
    <a class="example-spacer" href="/" routerlinkActive="active">Home</a>
    <a class="example-spacer" href="../assets/How to use the MRL BOK 2022.pdf" target="_blank" routerlinkActive="active">How to use this MRL Body of Knowledge</a>
  </mat-toolbar>
</header>

  <router-outlet></router-outlet>

<footer>
  <div>
    <span class="example-spacer2">This is a collaborative website of Industry, Academia and DoD,
    providing the updated references and tools which comprise the MRL Body of Knowledge.
    </span> <br>
    <a class="example-spacer2" href="mailto:Mark.Gordon@mfgstrategy.org">Questions about this page? Contact Mark Gordon</a>
  </div>
  
</footer>
  

</main>


